.content-block {
    position: absolute;
    background: #2F383D;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 40px;
    border-radius: 30px;
    width: 69%;
}

.content-block__image {
    text-align: center;
    margin-top: 45px;
    position: relative;
}

.content-block__image_arrow {
    position: absolute;
    right: 0;
    bottom: 70px;
}

.content-block__image_arrow_mobile {
    display: none;
}

@media (max-width: 650px) {
    .content-block__image_arrow {
        right: -30px;
    }
}
@media (max-width: 600px) {
    .content-block {
        padding: 15px;
        bottom: 15px;
    }

    .content-block__image_arrow_table {
        display: none;
    }

    .content-block__image_arrow_mobile {
        display: block;
    }

    .content-block__image_arrow {
        right: 20px;
        bottom: 45px;
    }

    .content-block__img {
        width: 185px;
    }

    .content-block__image {
        margin-top: 10px;
    }
}

@media (max-width: 500px) {
    .content-block {
        width: 95%;
    }
}

@media (max-width: 430px) {
    .content-block__image_arrow {
        right: 0;
        bottom: 45px;
    }
}
