.ios-page__text {
    position: relative;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 66%;
    margin: auto;
    color: #FFFFFF;
    padding-top: 100px;
    display: flex;
}

.ios-page__text_content {
    padding-top: 0;
    width: 100%;
}

.ios-page__number {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.ios-page__arrow {
    position: absolute;
    right: -96px;
    bottom: 0;
}

.ios-page__mobile {
    display: none;
}

@media (max-width: 600px) {

    .ios-page__text_data {
        padding-right: 59px;
    }

    .ios-page__text {
        font-size: 15px;
        line-height: 20px;
        width: 85%;
    }

    .ios-page__text_content {
        font-size: 15px;
        line-height: 19px;
        width: 100%;
    }

    .ios-page__arrow {
        position: absolute;
        right: -30px;
        bottom: 10px;
    }

    .ios-page__mobile {
        display: block;
    }

    .ios-page__table {
        display: none;
    }

    .ios-page__number {
        margin-right: 10px;
    }
}
